extends ./layout/layout-empty.pug
block vars
  - var page = 'app-password'
block main
  .st-auth
    .st-auth__cont
      .st-panel
        .st-panel__cont
          .st-panel__header
            .fluid-cols
              .expand-col
                span.st-panel__title
                  span Restore Passord
          .st-panel__content
            form.form#password-form(action="", method="post")
              .alert.alert-info.hide#password-msg
                p Your link has been sent.
              .form-group
                  input.form-control(type="email", placeholder="Email", required="required")
              .form-group
                button.btn.btn-info.btn-block#password-submit(type="submit", data-sending-text="Sending...") Send Link
      .st-auth__back
        a.btn.btn-default(href="app-auth.html") <i class="fa fa-angle-left"></i>&nbsp;&nbsp;Back to Dashboard
block css
block js
  script(src="libs/bootstrap-validator/validator.min.js")
block js-last
  script(src="js/modules/pages/auth.js")
