{% extends 'base.html.twig' %}

{% block headerTitle %}Dashboard{% endblock %}

{% block breadcrumbs %}
    <li class="active"><span>Dashboard</span></li>
{% endblock %}

{% block body %}
    <h1>Total jobs: {{ total }}</h1>
{% endblock %}